{% comment %}
IMPORTANT: When including within .md files, surround with {::nomarkdown}...{:/}

Inputs:
- group - group ID (i.e. a top-level key in _data/minutes/groups.json)
{% endcomment %}
<style>
  .hide-minutes, .hide-topics, .hide-resolutions {
    display: none;
  }
  .show-minutes, .show-topics, .show-resolutions {
    display: block;
  }

  .minutes-topics, .minutes-resolutions {
    padding-block-end: 0.7em;
  }

  :is(.minutes-topics, .minutes-resolutions) p {
    font-weight: bolder;
  }

  .minutes div:last-of-type {
    padding-block-end: 2em;
  }

  #minutes-config button {
    margin-block-start: 1em;
  }
</style>

<form id="minutes-config">
  <label for="show-year">Show minutes for year: </label>
  <select id="show-year" name="show-year">
    {%- assign current_year = 0 -%}
    {%- for minutes in site.data.minutes[include.group] -%}
      {%- capture year %}{{ minutes[0] | truncate: 4, ""}}{% endcapture -%}
      {%- if year != current_year %}
        {%- assign current_year = year -%}
        <option value="minutes-{{ year }}">{{ year }}</option>
      {% endif -%}
    {%- endfor %}
    <option value="all">Show all years</option>
  </select><br/>

  <label><input type="checkbox" id="show-topics" name="show-topics" /> Show topics</label><br/>
  <label><input type="checkbox" id="show-resolutions" name="show-resolutions" /> Show resolutions</label><br/>
  <button>Update</button>
</form>

<div id="minutes-results" tabindex="-1">
{%- assign current_year = 0 -%}
{%- assign minutes_class = 'show-minutes' -%}
{% for minutes in site.data.minutes[include.group] %}
  {%- capture date %}{{ minutes[0] | truncate: 10, "" }}{% endcapture -%}
  {%- capture year %}{{ date | truncate: 4, "" }}{% endcapture -%}
  {%- capture channel %}{{ minutes[0] | replace_first: date, "" | replace_first: "-", "" }}{% endcapture -%}
  {% if year != current_year %}
    {%- if current_year != 0 %}</ul></section>{% endif %}
    {%- assign current_year = year -%}
    <section id="minutes-{{ current_year }}" class="{{ minutes_class }}">
      <h2>{{ current_year }}</h2>
      <ul class="minutes">
    {%- assign minutes_class = 'hide-minutes' -%}
  {% endif %}
        <li><a href="{{ minutes[1].href }}">{{ date | date: "%e %B" }}: {{ minutes[1].title }}</a>
        {%- if minutes[1].topics.size > 0 %}
          <div class="minutes-topics hide-topics">
            <p>Topics</p>
            <ul>
            {%- for topic in minutes[1].topics %}
              <li><a href="{{ topic.href }}">{{ topic.title }}</a></li>
            {%- endfor -%}
            </ul>
          </div>
        {%- endif %}
        {%- if minutes[1].resolutions.size > 0 %}
          <div class="minutes-resolutions hide-resolutions">
            <p>Resolutions</p>
            <ul>
            {% for resolution in minutes[1].resolutions %}
              <li>
                {{ date | date: "%e %B" }}:
                {% if resolution.topic %}{{ resolution.topic }} - {% endif -%}
                <a href="{{ minutes[1].href }}#{{ resolution.id }}">
                  {{- resolution.content | escape -}}
                </a>
              </li>
            {% endfor %}
            </ul>
          </div>
        {%- endif %}
        </li>
{% endfor -%}
{%- if current_year != 0 %}
      </ul>
    </section>
{% endif %}
</div>

<script>
  const config = document.getElementById("minutes-config");
  
  function updateMinutes() {
    const formData = new FormData(config);

    const selectYear = formData.get("show-year");
    if (selectYear == "all") {
      var hiddenYears = document.querySelectorAll("section.hide-minutes");
      hiddenYears.forEach((year) => {
        year.classList.replace("hide-minutes", "show-minutes");
      });
    } else {
      const showYear = document.getElementById(selectYear);
      const visibleYears = document.querySelectorAll("section.show-minutes");
      visibleYears.forEach((year) => {
        year.classList.replace("show-minutes", "hide-minutes");
      });
      showYear.classList.replace("hide-minutes", "show-minutes");
    }

    for (const type of ["topics", "resolutions"]) {
      const shouldShow = formData.get(`show-${type}`);
      if (shouldShow) {
        const elementsToShow = document.querySelectorAll(`section.show-minutes .minutes-${type}`);
        elementsToShow.forEach((elements) => {
          elements.classList.replace(`hide-${type}`, `show-${type}`);
        });
      } else {
        const allElements = document.querySelectorAll(`.minutes-${type}`);
        allElements.forEach((element) => {
          element.classList.replace(`show-${type}`, `hide-${type}`);
        });
      }
    }
  }

  config.addEventListener("submit", (event) => {
    event.preventDefault();
    updateMinutes();
    document.getElementById("minutes-results").focus();
  });
</script>